Apache Nifi/Individual Flows/Person_table.json
{"flowContents":{"identifier":"0ba65a50-0199-1000-33d1-5b5144028fa5","instanceIdentifier":"c72e3d1a-a9d3-3e60-c91c-8c553464206f","name":"Person table","comments":"","position":{"x":24.0,"y":-424.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"0ba65a51-0199-1000-bfad-c4d68e28fb42","instanceIdentifier":"e15c5de4-87f9-342e-11d5-2217f9b9cc6c","name":"ExecuteSQL","comments":"","position":{"x":-352.0,"y":-240.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"SELECT\n\tBusinessEntityID,\n\tPersonType,\n\tNameStyle,\n\tTitle,\n\tFirstName,\n\tMiddleName,\n\tLastName,\n\tSuffix,\n\tEmailPromotion,\n\tModifiedDate\nFROM person.Person","Database Connection Pooling Service":"e610496f-bb3e-3b10-917a-b8f2a030337f","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0ba65a50-0199-1000-33d1-5b5144028fa5"},{"identifier":"0ba65a53-0199-1000-0587-ab43aa7308d0","instanceIdentifier":"cfec880e-43fe-355b-7fb6-66a70a86bf80","name":"AttributesToJSON","comments":"","position":{"x":408.0,"y":-240.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":null,"Pretty Print":"false","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0ba65a50-0199-1000-33d1-5b5144028fa5"},{"identifier":"0ba65a52-0199-1000-2b67-8010d565b1ec","instanceIdentifier":"28161ac9-c21d-3d30-7d3b-b2dcc9388bb5","name":"PutHDFS","comments":"","position":{"x":176.0,"y":40.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"2.5.0"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":null,"Remote Owner":null,"Additional Classpath Resources":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"File Resource Service":null,"Block Size":null,"Ignore Locality":"false","Replication":null,"kerberos-user-service":null,"Append Mode":"DEFAULT","writing-strategy":"writeAndRename","Directory":"/nifi_dest/files/","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false,"dynamic":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0ba65a50-0199-1000-33d1-5b5144028fa5"},{"identifier":"0ba65a57-0199-1000-ba88-1efd84f2a7d6","instanceIdentifier":"41da23ea-dd60-3d4b-d6eb-fdfaa55f9976","name":"PutHDFS","comments":"","position":{"x":784.0,"y":-240.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"2.5.0"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":null,"Remote Owner":null,"Additional Classpath Resources":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"File Resource Service":null,"Block Size":null,"Ignore Locality":"false","Replication":null,"kerberos-user-service":null,"Append Mode":"DEFAULT","writing-strategy":"writeAndRename","Directory":"/nifi_dest/attributes/","Conflict Resolution Strategy":"append"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false,"dynamic":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0ba65a50-0199-1000-33d1-5b5144028fa5"},{"identifier":"0ba65a55-0199-1000-89fa-ec2904b9a4c7","instanceIdentifier":"14a3a27a-c50c-3143-7575-7674f13f6dc8","name":"UpdateAttribute","comments":"","position":{"x":32.0,"y":-240.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"filename":"Person.parquet","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0ba65a50-0199-1000-33d1-5b5144028fa5"},{"identifier":"0ba65a56-0199-1000-7c61-c4d5cff37e3e","instanceIdentifier":"1fdafe1f-f314-3d9a-a925-dd8f86361a4a","name":"UpdateAttribute","comments":"","position":{"x":568.0,"y":48.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:replace(\"parquet\" , \"json\")}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0ba65a50-0199-1000-33d1-5b5144028fa5"},{"identifier":"0ba65a54-0199-1000-81a4-21fc28e83c9f","instanceIdentifier":"2dddc4a7-4d8a-3930-23e7-f6ee0f16de7e","name":"ConvertAvroToParquet","comments":"","position":{"x":-200.0,"y":40.0},"type":"org.apache.nifi.processors.parquet.ConvertAvroToParquet","bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"2.5.0"},"properties":{"enable-dictionary-encoding":null,"page-size":null,"writer-version":null,"max-padding-size":null,"compression-type":"GZIP","enable-validation":null,"dictionary-page-size":null,"row-group-size":null},"propertyDescriptors":{"enable-dictionary-encoding":{"name":"enable-dictionary-encoding","displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"page-size":{"name":"page-size","displayName":"Page Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"writer-version":{"name":"writer-version","displayName":"Writer Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-padding-size":{"name":"max-padding-size","displayName":"Max Padding Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-type":{"name":"compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"enable-validation":{"name":"enable-validation","displayName":"Enable Validation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dictionary-page-size":{"name":"dictionary-page-size","displayName":"Dictionary Page Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"row-group-size":{"name":"row-group-size","displayName":"Row Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0ba65a50-0199-1000-33d1-5b5144028fa5"}],"inputPorts":[{"identifier":"0ba65a58-0199-1000-e9a2-44062ea4c046","instanceIdentifier":"f97e9c45-9348-3914-37eb-b6f8ef36dc59","name":"PersonInput","position":{"x":-560.0,"y":-392.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"0ba65a50-0199-1000-33d1-5b5144028fa5"}],"outputPorts":[{"identifier":"0ba65a59-0199-1000-fe0a-71cd98e8aafb","instanceIdentifier":"dabf2b2d-dc30-3070-6b51-e393a98dda7c","name":"PersonOutput","position":{"x":960.0,"y":80.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"0ba65a50-0199-1000-33d1-5b5144028fa5"}],"connections":[{"identifier":"0ba65a61-0199-1000-f06b-391b577fe779","instanceIdentifier":"aafecf97-b4ea-35b4-b6ea-8edef9c964d4","name":"","source":{"id":"0ba65a52-0199-1000-2b67-8010d565b1ec","type":"PROCESSOR","groupId":"0ba65a50-0199-1000-33d1-5b5144028fa5","name":"PutHDFS","comments":"","instanceIdentifier":"28161ac9-c21d-3d30-7d3b-b2dcc9388bb5"},"destination":{"id":"0ba65a53-0199-1000-0587-ab43aa7308d0","type":"PROCESSOR","groupId":"0ba65a50-0199-1000-33d1-5b5144028fa5","name":"AttributesToJSON","comments":"","instanceIdentifier":"cfec880e-43fe-355b-7fb6-66a70a86bf80"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0ba65a50-0199-1000-33d1-5b5144028fa5"},{"identifier":"0ba65a5e-0199-1000-3720-9ed83fb67eba","instanceIdentifier":"387c405b-16b0-378a-7283-f8903d0d6fba","name":"","source":{"id":"0ba65a55-0199-1000-89fa-ec2904b9a4c7","type":"PROCESSOR","groupId":"0ba65a50-0199-1000-33d1-5b5144028fa5","name":"UpdateAttribute","comments":"","instanceIdentifier":"14a3a27a-c50c-3143-7575-7674f13f6dc8"},"destination":{"id":"0ba65a52-0199-1000-2b67-8010d565b1ec","type":"PROCESSOR","groupId":"0ba65a50-0199-1000-33d1-5b5144028fa5","name":"PutHDFS","comments":"","instanceIdentifier":"28161ac9-c21d-3d30-7d3b-b2dcc9388bb5"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0ba65a50-0199-1000-33d1-5b5144028fa5"},{"identifier":"0ba65a5c-0199-1000-7057-b3939a3c0290","instanceIdentifier":"130d0c89-8a96-3e4c-caf2-4e7207efb53a","name":"","source":{"id":"0ba65a54-0199-1000-81a4-21fc28e83c9f","type":"PROCESSOR","groupId":"0ba65a50-0199-1000-33d1-5b5144028fa5","name":"ConvertAvroToParquet","comments":"","instanceIdentifier":"2dddc4a7-4d8a-3930-23e7-f6ee0f16de7e"},"destination":{"id":"0ba65a55-0199-1000-89fa-ec2904b9a4c7","type":"PROCESSOR","groupId":"0ba65a50-0199-1000-33d1-5b5144028fa5","name":"UpdateAttribute","comments":"","instanceIdentifier":"14a3a27a-c50c-3143-7575-7674f13f6dc8"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0ba65a50-0199-1000-33d1-5b5144028fa5"},{"identifier":"0ba65a5f-0199-1000-ef9c-f9605b12a983","instanceIdentifier":"86b8ed01-204a-315d-45ea-9966e600b94a","name":"","source":{"id":"0ba65a53-0199-1000-0587-ab43aa7308d0","type":"PROCESSOR","groupId":"0ba65a50-0199-1000-33d1-5b5144028fa5","name":"AttributesToJSON","comments":"","instanceIdentifier":"cfec880e-43fe-355b-7fb6-66a70a86bf80"},"destination":{"id":"0ba65a56-0199-1000-7c61-c4d5cff37e3e","type":"PROCESSOR","groupId":"0ba65a50-0199-1000-33d1-5b5144028fa5","name":"UpdateAttribute","comments":"","instanceIdentifier":"1fdafe1f-f314-3d9a-a925-dd8f86361a4a"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0ba65a50-0199-1000-33d1-5b5144028fa5"},{"identifier":"0ba65a5b-0199-1000-3928-360d5efa7e8d","instanceIdentifier":"33f20f1b-0ff4-3a3c-17f7-f8d0fd274acf","name":"","source":{"id":"0ba65a57-0199-1000-ba88-1efd84f2a7d6","type":"PROCESSOR","groupId":"0ba65a50-0199-1000-33d1-5b5144028fa5","name":"PutHDFS","comments":"","instanceIdentifier":"41da23ea-dd60-3d4b-d6eb-fdfaa55f9976"},"destination":{"id":"0ba65a59-0199-1000-fe0a-71cd98e8aafb","type":"OUTPUT_PORT","groupId":"0ba65a50-0199-1000-33d1-5b5144028fa5","name":"PersonOutput","instanceIdentifier":"dabf2b2d-dc30-3070-6b51-e393a98dda7c"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0ba65a50-0199-1000-33d1-5b5144028fa5"},{"identifier":"0ba65a60-0199-1000-7523-47d853a6fc67","instanceIdentifier":"9ee6778b-463a-3c6c-3393-6f0196b0fb49","name":"","source":{"id":"0ba65a58-0199-1000-e9a2-44062ea4c046","type":"INPUT_PORT","groupId":"0ba65a50-0199-1000-33d1-5b5144028fa5","name":"PersonInput","instanceIdentifier":"f97e9c45-9348-3914-37eb-b6f8ef36dc59"},"destination":{"id":"0ba65a51-0199-1000-bfad-c4d68e28fb42","type":"PROCESSOR","groupId":"0ba65a50-0199-1000-33d1-5b5144028fa5","name":"ExecuteSQL","comments":"","instanceIdentifier":"e15c5de4-87f9-342e-11d5-2217f9b9cc6c"},"labelIndex":0,"zIndex":7,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0ba65a50-0199-1000-33d1-5b5144028fa5"},{"identifier":"0ba65a5a-0199-1000-86ad-b5823d100801","instanceIdentifier":"b66f419c-8eb9-3eaa-d244-3f0b0e7db10b","name":"","source":{"id":"0ba65a51-0199-1000-bfad-c4d68e28fb42","type":"PROCESSOR","groupId":"0ba65a50-0199-1000-33d1-5b5144028fa5","name":"ExecuteSQL","comments":"","instanceIdentifier":"e15c5de4-87f9-342e-11d5-2217f9b9cc6c"},"destination":{"id":"0ba65a54-0199-1000-81a4-21fc28e83c9f","type":"PROCESSOR","groupId":"0ba65a50-0199-1000-33d1-5b5144028fa5","name":"ConvertAvroToParquet","comments":"","instanceIdentifier":"2dddc4a7-4d8a-3930-23e7-f6ee0f16de7e"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0ba65a50-0199-1000-33d1-5b5144028fa5"},{"identifier":"0ba65a5d-0199-1000-8b31-3c16c56dcd25","instanceIdentifier":"55943297-1e90-351b-bacc-7506d67f9740","name":"","source":{"id":"0ba65a56-0199-1000-7c61-c4d5cff37e3e","type":"PROCESSOR","groupId":"0ba65a50-0199-1000-33d1-5b5144028fa5","name":"UpdateAttribute","comments":"","instanceIdentifier":"1fdafe1f-f314-3d9a-a925-dd8f86361a4a"},"destination":{"id":"0ba65a57-0199-1000-ba88-1efd84f2a7d6","type":"PROCESSOR","groupId":"0ba65a50-0199-1000-33d1-5b5144028fa5","name":"PutHDFS","comments":"","instanceIdentifier":"41da23ea-dd60-3d4b-d6eb-fdfaa55f9976"},"labelIndex":0,"zIndex":6,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0ba65a50-0199-1000-33d1-5b5144028fa5"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"e610496f-bb3e-3b10-917a-b8f2a030337f","instanceIdentifier":"0b1dc302-0199-1000-7bfc-97504865d77c","name":"AdventureWorks2022","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.4.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.microsoft.sqlserver.jdbc.SQLServerDriver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:sqlserver://172.21.96.1:1433;databaseName=AdventureWorks2022;trustservercertificate=true","dbcp-time-between-eviction-runs":"-1","Database User":"sa","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/usr/local/nifi/sqljdbc/enu/jars/mssql-jdbc-12.10.1.jre11.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c72e3d1a-a9d3-3e60-c91c-8c553464206f"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}