Apache Nifi/Individual Flows/ShipMethod_table.json
{"flowContents":{"identifier":"0b9dcfc8-0199-1000-79a4-9d95abc59982","instanceIdentifier":"f81f5725-8c16-348e-21c0-429f5c9adb21","name":"ShipMethod table","comments":"","position":{"x":-384.0,"y":-136.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"0b9dcfcd-0199-1000-2abd-a31cbcaafbdb","instanceIdentifier":"af8bbd99-f6b2-30fb-f9b9-6cfc8831854d","name":"ConvertAvroToParquet","comments":"","position":{"x":-200.0,"y":40.0},"type":"org.apache.nifi.processors.parquet.ConvertAvroToParquet","bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"2.5.0"},"properties":{"enable-dictionary-encoding":null,"page-size":null,"writer-version":null,"max-padding-size":null,"compression-type":"GZIP","enable-validation":null,"dictionary-page-size":null,"row-group-size":null},"propertyDescriptors":{"enable-dictionary-encoding":{"name":"enable-dictionary-encoding","displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"page-size":{"name":"page-size","displayName":"Page Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"writer-version":{"name":"writer-version","displayName":"Writer Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-padding-size":{"name":"max-padding-size","displayName":"Max Padding Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-type":{"name":"compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"enable-validation":{"name":"enable-validation","displayName":"Enable Validation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dictionary-page-size":{"name":"dictionary-page-size","displayName":"Dictionary Page Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"row-group-size":{"name":"row-group-size","displayName":"Row Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0b9dcfc8-0199-1000-79a4-9d95abc59982"},{"identifier":"0b9dcfc9-0199-1000-5a87-9d801202c9bb","instanceIdentifier":"a9e0a606-8310-3ce4-c502-04ad27db3fb9","name":"ExecuteSQL","comments":"","position":{"x":-352.0,"y":-240.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"SELECT * FROM Purchasing.ShipMethod","Database Connection Pooling Service":"e610496f-bb3e-3b10-917a-b8f2a030337f","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0b9dcfc8-0199-1000-79a4-9d95abc59982"},{"identifier":"0b9dcfcf-0199-1000-f0ae-5ba55c44cdcf","instanceIdentifier":"2dc6868d-a601-30fd-3812-0f2b054e7daf","name":"PutHDFS","comments":"","position":{"x":784.0,"y":-240.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"2.5.0"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":null,"Remote Owner":null,"Additional Classpath Resources":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"File Resource Service":null,"Block Size":null,"Ignore Locality":"false","Replication":null,"kerberos-user-service":null,"Append Mode":"DEFAULT","writing-strategy":"writeAndRename","Directory":"/nifi_dest/attributes/","Conflict Resolution Strategy":"append"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false,"dynamic":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0b9dcfc8-0199-1000-79a4-9d95abc59982"},{"identifier":"0b9dcfca-0199-1000-760d-708c4f005977","instanceIdentifier":"082df34d-de68-307a-b05b-5a2d8c7baebc","name":"UpdateAttribute","comments":"","position":{"x":32.0,"y":-240.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"filename":"ShipMethod.parquet","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0b9dcfc8-0199-1000-79a4-9d95abc59982"},{"identifier":"0b9dcfcc-0199-1000-d645-79ac216a4714","instanceIdentifier":"650acdcb-5ff6-3f3a-96fe-7d1cce474d94","name":"PutHDFS","comments":"","position":{"x":176.0,"y":40.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"2.5.0"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":null,"Remote Owner":null,"Additional Classpath Resources":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"File Resource Service":null,"Block Size":null,"Ignore Locality":"false","Replication":null,"kerberos-user-service":null,"Append Mode":"DEFAULT","writing-strategy":"writeAndRename","Directory":"/nifi_dest/files/","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false,"dynamic":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0b9dcfc8-0199-1000-79a4-9d95abc59982"},{"identifier":"0b9dcfce-0199-1000-8a3d-e51ad56864cc","instanceIdentifier":"15827e1a-0144-3b94-78d3-f6c86aed556e","name":"UpdateAttribute","comments":"","position":{"x":568.0,"y":48.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:replace(\"parquet\" , \"json\")}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0b9dcfc8-0199-1000-79a4-9d95abc59982"},{"identifier":"0b9dcfcb-0199-1000-4e6c-843916e39e9c","instanceIdentifier":"e8c70c06-95c6-331f-0e08-3da883323197","name":"AttributesToJSON","comments":"","position":{"x":408.0,"y":-240.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":null,"Pretty Print":"false","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0b9dcfc8-0199-1000-79a4-9d95abc59982"}],"inputPorts":[{"identifier":"0b9dcfd0-0199-1000-5b98-e9e07d838ae9","instanceIdentifier":"db2b91c7-e0d7-3023-006b-6d9cddce4768","name":"ShipMethodInput","position":{"x":-560.0,"y":-392.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"0b9dcfc8-0199-1000-79a4-9d95abc59982"}],"outputPorts":[{"identifier":"0b9dcfd1-0199-1000-8d3d-07244d6f280b","instanceIdentifier":"66b2fd85-3e61-3920-ecee-a235f68e3d3d","name":"ShipMethodOutput","position":{"x":960.0,"y":80.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"0b9dcfc8-0199-1000-79a4-9d95abc59982"}],"connections":[{"identifier":"0b9dcfd6-0199-1000-2e9a-f41ee6a709c9","instanceIdentifier":"ecf5d18e-d3f6-30d5-25c9-cbebd0615f19","name":"","source":{"id":"0b9dcfcd-0199-1000-2abd-a31cbcaafbdb","type":"PROCESSOR","groupId":"0b9dcfc8-0199-1000-79a4-9d95abc59982","name":"ConvertAvroToParquet","comments":"","instanceIdentifier":"af8bbd99-f6b2-30fb-f9b9-6cfc8831854d"},"destination":{"id":"0b9dcfca-0199-1000-760d-708c4f005977","type":"PROCESSOR","groupId":"0b9dcfc8-0199-1000-79a4-9d95abc59982","name":"UpdateAttribute","comments":"","instanceIdentifier":"082df34d-de68-307a-b05b-5a2d8c7baebc"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0b9dcfc8-0199-1000-79a4-9d95abc59982"},{"identifier":"0b9dcfd4-0199-1000-5101-0247f222444a","instanceIdentifier":"0cc399f3-425a-365d-a6e0-63315ff439b9","name":"","source":{"id":"0b9dcfc9-0199-1000-5a87-9d801202c9bb","type":"PROCESSOR","groupId":"0b9dcfc8-0199-1000-79a4-9d95abc59982","name":"ExecuteSQL","comments":"","instanceIdentifier":"a9e0a606-8310-3ce4-c502-04ad27db3fb9"},"destination":{"id":"0b9dcfcd-0199-1000-2abd-a31cbcaafbdb","type":"PROCESSOR","groupId":"0b9dcfc8-0199-1000-79a4-9d95abc59982","name":"ConvertAvroToParquet","comments":"","instanceIdentifier":"af8bbd99-f6b2-30fb-f9b9-6cfc8831854d"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0b9dcfc8-0199-1000-79a4-9d95abc59982"},{"identifier":"0b9dcfd2-0199-1000-0103-41fc0742176c","instanceIdentifier":"71a51d5b-64d9-3983-2ac5-eede5322caa1","name":"","source":{"id":"0b9dcfca-0199-1000-760d-708c4f005977","type":"PROCESSOR","groupId":"0b9dcfc8-0199-1000-79a4-9d95abc59982","name":"UpdateAttribute","comments":"","instanceIdentifier":"082df34d-de68-307a-b05b-5a2d8c7baebc"},"destination":{"id":"0b9dcfcc-0199-1000-d645-79ac216a4714","type":"PROCESSOR","groupId":"0b9dcfc8-0199-1000-79a4-9d95abc59982","name":"PutHDFS","comments":"","instanceIdentifier":"650acdcb-5ff6-3f3a-96fe-7d1cce474d94"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0b9dcfc8-0199-1000-79a4-9d95abc59982"},{"identifier":"0b9dcfd3-0199-1000-b48e-3658eedb4ca5","instanceIdentifier":"dfba8c0c-d382-3788-ddfe-2e274705abb6","name":"","source":{"id":"0b9dcfd0-0199-1000-5b98-e9e07d838ae9","type":"INPUT_PORT","groupId":"0b9dcfc8-0199-1000-79a4-9d95abc59982","name":"ShipMethodInput","instanceIdentifier":"db2b91c7-e0d7-3023-006b-6d9cddce4768"},"destination":{"id":"0b9dcfc9-0199-1000-5a87-9d801202c9bb","type":"PROCESSOR","groupId":"0b9dcfc8-0199-1000-79a4-9d95abc59982","name":"ExecuteSQL","comments":"","instanceIdentifier":"a9e0a606-8310-3ce4-c502-04ad27db3fb9"},"labelIndex":0,"zIndex":7,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0b9dcfc8-0199-1000-79a4-9d95abc59982"},{"identifier":"0b9dcfd5-0199-1000-dd61-d7debe8aed68","instanceIdentifier":"ffa9c681-099e-39f3-200d-f96f992e4edc","name":"","source":{"id":"0b9dcfcf-0199-1000-f0ae-5ba55c44cdcf","type":"PROCESSOR","groupId":"0b9dcfc8-0199-1000-79a4-9d95abc59982","name":"PutHDFS","comments":"","instanceIdentifier":"2dc6868d-a601-30fd-3812-0f2b054e7daf"},"destination":{"id":"0b9dcfd1-0199-1000-8d3d-07244d6f280b","type":"OUTPUT_PORT","groupId":"0b9dcfc8-0199-1000-79a4-9d95abc59982","name":"ShipMethodOutput","instanceIdentifier":"66b2fd85-3e61-3920-ecee-a235f68e3d3d"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0b9dcfc8-0199-1000-79a4-9d95abc59982"},{"identifier":"0b9dcfd9-0199-1000-e449-feb016bd436e","instanceIdentifier":"62ac027b-ff6b-3d0f-6690-2c7a7ea63a47","name":"","source":{"id":"0b9dcfcc-0199-1000-d645-79ac216a4714","type":"PROCESSOR","groupId":"0b9dcfc8-0199-1000-79a4-9d95abc59982","name":"PutHDFS","comments":"","instanceIdentifier":"650acdcb-5ff6-3f3a-96fe-7d1cce474d94"},"destination":{"id":"0b9dcfcb-0199-1000-4e6c-843916e39e9c","type":"PROCESSOR","groupId":"0b9dcfc8-0199-1000-79a4-9d95abc59982","name":"AttributesToJSON","comments":"","instanceIdentifier":"e8c70c06-95c6-331f-0e08-3da883323197"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0b9dcfc8-0199-1000-79a4-9d95abc59982"},{"identifier":"0b9dcfd8-0199-1000-5126-f9d747645871","instanceIdentifier":"9117fd97-f5c6-3e0f-8d25-fded93c4da51","name":"","source":{"id":"0b9dcfcb-0199-1000-4e6c-843916e39e9c","type":"PROCESSOR","groupId":"0b9dcfc8-0199-1000-79a4-9d95abc59982","name":"AttributesToJSON","comments":"","instanceIdentifier":"e8c70c06-95c6-331f-0e08-3da883323197"},"destination":{"id":"0b9dcfce-0199-1000-8a3d-e51ad56864cc","type":"PROCESSOR","groupId":"0b9dcfc8-0199-1000-79a4-9d95abc59982","name":"UpdateAttribute","comments":"","instanceIdentifier":"15827e1a-0144-3b94-78d3-f6c86aed556e"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0b9dcfc8-0199-1000-79a4-9d95abc59982"},{"identifier":"0b9dcfd7-0199-1000-14be-c50236e6f92b","instanceIdentifier":"96a4ccde-1725-3ce1-3211-c35152ef2550","name":"","source":{"id":"0b9dcfce-0199-1000-8a3d-e51ad56864cc","type":"PROCESSOR","groupId":"0b9dcfc8-0199-1000-79a4-9d95abc59982","name":"UpdateAttribute","comments":"","instanceIdentifier":"15827e1a-0144-3b94-78d3-f6c86aed556e"},"destination":{"id":"0b9dcfcf-0199-1000-f0ae-5ba55c44cdcf","type":"PROCESSOR","groupId":"0b9dcfc8-0199-1000-79a4-9d95abc59982","name":"PutHDFS","comments":"","instanceIdentifier":"2dc6868d-a601-30fd-3812-0f2b054e7daf"},"labelIndex":0,"zIndex":6,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0b9dcfc8-0199-1000-79a4-9d95abc59982"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"e610496f-bb3e-3b10-917a-b8f2a030337f","instanceIdentifier":"0b1dc302-0199-1000-7bfc-97504865d77c","name":"AdventureWorks2022","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.4.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.microsoft.sqlserver.jdbc.SQLServerDriver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:sqlserver://172.21.96.1:1433;databaseName=AdventureWorks2022;trustservercertificate=true","dbcp-time-between-eviction-runs":"-1","Database User":"sa","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/usr/local/nifi/sqljdbc/enu/jars/mssql-jdbc-12.10.1.jre11.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f81f5725-8c16-348e-21c0-429f5c9adb21"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}