Apache Nifi/Individual Flows/Territory_table.json
{"flowContents":{"identifier":"0ba127d5-0199-1000-09cd-530853f3825e","instanceIdentifier":"16df633d-ff98-38f1-725f-c2764095550d","name":"Territory table","comments":"","position":{"x":-392.0,"y":-432.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"0ba127d6-0199-1000-ca56-8ec16cc3ab0e","instanceIdentifier":"e1a95b3f-9fc7-3e28-0b5e-dd0c5b48b70f","name":"ConvertAvroToParquet","comments":"","position":{"x":-200.0,"y":40.0},"type":"org.apache.nifi.processors.parquet.ConvertAvroToParquet","bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"2.5.0"},"properties":{"enable-dictionary-encoding":null,"page-size":null,"writer-version":null,"max-padding-size":null,"compression-type":"GZIP","enable-validation":null,"dictionary-page-size":null,"row-group-size":null},"propertyDescriptors":{"enable-dictionary-encoding":{"name":"enable-dictionary-encoding","displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"page-size":{"name":"page-size","displayName":"Page Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"writer-version":{"name":"writer-version","displayName":"Writer Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-padding-size":{"name":"max-padding-size","displayName":"Max Padding Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-type":{"name":"compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"enable-validation":{"name":"enable-validation","displayName":"Enable Validation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dictionary-page-size":{"name":"dictionary-page-size","displayName":"Dictionary Page Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"row-group-size":{"name":"row-group-size","displayName":"Row Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0ba127d5-0199-1000-09cd-530853f3825e"},{"identifier":"0ba127d7-0199-1000-ebb8-4871b0753180","instanceIdentifier":"3b145683-a1a2-3b54-1ef5-42da7bf0b218","name":"ExecuteSQL","comments":"","position":{"x":-352.0,"y":-240.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"SELECT * FROM Sales.SalesTerritory","Database Connection Pooling Service":"e610496f-bb3e-3b10-917a-b8f2a030337f","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0ba127d5-0199-1000-09cd-530853f3825e"},{"identifier":"0ba127da-0199-1000-844a-609f375c2af8","instanceIdentifier":"78a3c393-36e8-3bae-0236-cefcbe03cd59","name":"PutHDFS","comments":"","position":{"x":176.0,"y":40.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"2.5.0"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":null,"Remote Owner":null,"Additional Classpath Resources":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"File Resource Service":null,"Block Size":null,"Ignore Locality":"false","Replication":null,"kerberos-user-service":null,"Append Mode":"DEFAULT","writing-strategy":"writeAndRename","Directory":"/nifi_dest/files/","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false,"dynamic":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0ba127d5-0199-1000-09cd-530853f3825e"},{"identifier":"0ba127d8-0199-1000-29b3-9f6afc4347a2","instanceIdentifier":"dae0a9cf-c259-3ba7-b326-03b3bb62f362","name":"PutHDFS","comments":"","position":{"x":784.0,"y":-240.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"2.5.0"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":null,"Remote Owner":null,"Additional Classpath Resources":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"File Resource Service":null,"Block Size":null,"Ignore Locality":"false","Replication":null,"kerberos-user-service":null,"Append Mode":"DEFAULT","writing-strategy":"writeAndRename","Directory":"/nifi_dest/attributes/","Conflict Resolution Strategy":"append"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false,"dynamic":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0ba127d5-0199-1000-09cd-530853f3825e"},{"identifier":"0ba127d9-0199-1000-60f9-afaf0cd0924c","instanceIdentifier":"c8f413ed-573a-3cc3-6fbc-7acbf0035b2b","name":"UpdateAttribute","comments":"","position":{"x":32.0,"y":-240.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"filename":"SalesTerritory.parquet","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0ba127d5-0199-1000-09cd-530853f3825e"},{"identifier":"0ba127dc-0199-1000-33b8-4e92937cfc5a","instanceIdentifier":"11d3d2ce-cb52-3a77-00b1-33168a86395f","name":"AttributesToJSON","comments":"","position":{"x":408.0,"y":-240.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":null,"Pretty Print":"false","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0ba127d5-0199-1000-09cd-530853f3825e"},{"identifier":"0ba127db-0199-1000-e959-fa40dd619195","instanceIdentifier":"fa0ae5bb-45d5-3077-d725-5ea72f0ae261","name":"UpdateAttribute","comments":"","position":{"x":568.0,"y":48.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:replace(\"parquet\" , \"json\")}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0ba127d5-0199-1000-09cd-530853f3825e"}],"inputPorts":[{"identifier":"0ba127dd-0199-1000-b99d-da3336713463","instanceIdentifier":"716c0026-545e-3442-fe5a-25654b751416","name":"TerritoryInput","position":{"x":-560.0,"y":-392.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"0ba127d5-0199-1000-09cd-530853f3825e"}],"outputPorts":[{"identifier":"0ba127de-0199-1000-9111-004672b8264c","instanceIdentifier":"204bca92-7a14-3e78-bb85-9c1917b26b80","name":"TerritoryOutput","position":{"x":960.0,"y":80.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"0ba127d5-0199-1000-09cd-530853f3825e"}],"connections":[{"identifier":"0ba127e6-0199-1000-6619-8571292a2464","instanceIdentifier":"eb10a866-5139-3237-f696-71ed9f590603","name":"","source":{"id":"0ba127db-0199-1000-e959-fa40dd619195","type":"PROCESSOR","groupId":"0ba127d5-0199-1000-09cd-530853f3825e","name":"UpdateAttribute","comments":"","instanceIdentifier":"fa0ae5bb-45d5-3077-d725-5ea72f0ae261"},"destination":{"id":"0ba127d8-0199-1000-29b3-9f6afc4347a2","type":"PROCESSOR","groupId":"0ba127d5-0199-1000-09cd-530853f3825e","name":"PutHDFS","comments":"","instanceIdentifier":"dae0a9cf-c259-3ba7-b326-03b3bb62f362"},"labelIndex":0,"zIndex":6,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0ba127d5-0199-1000-09cd-530853f3825e"},{"identifier":"0ba127e1-0199-1000-48ad-c240366bec79","instanceIdentifier":"f05fdd0d-2445-3b8a-e806-db2c23fa6440","name":"","source":{"id":"0ba127d9-0199-1000-60f9-afaf0cd0924c","type":"PROCESSOR","groupId":"0ba127d5-0199-1000-09cd-530853f3825e","name":"UpdateAttribute","comments":"","instanceIdentifier":"c8f413ed-573a-3cc3-6fbc-7acbf0035b2b"},"destination":{"id":"0ba127da-0199-1000-844a-609f375c2af8","type":"PROCESSOR","groupId":"0ba127d5-0199-1000-09cd-530853f3825e","name":"PutHDFS","comments":"","instanceIdentifier":"78a3c393-36e8-3bae-0236-cefcbe03cd59"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0ba127d5-0199-1000-09cd-530853f3825e"},{"identifier":"0ba127e0-0199-1000-6e94-5a3b369f91eb","instanceIdentifier":"923ebff2-8a0a-3a7d-f48b-dd12f918bd16","name":"","source":{"id":"0ba127d7-0199-1000-ebb8-4871b0753180","type":"PROCESSOR","groupId":"0ba127d5-0199-1000-09cd-530853f3825e","name":"ExecuteSQL","comments":"","instanceIdentifier":"3b145683-a1a2-3b54-1ef5-42da7bf0b218"},"destination":{"id":"0ba127d6-0199-1000-ca56-8ec16cc3ab0e","type":"PROCESSOR","groupId":"0ba127d5-0199-1000-09cd-530853f3825e","name":"ConvertAvroToParquet","comments":"","instanceIdentifier":"e1a95b3f-9fc7-3e28-0b5e-dd0c5b48b70f"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0ba127d5-0199-1000-09cd-530853f3825e"},{"identifier":"0ba127e5-0199-1000-49b9-9f0950b2c74c","instanceIdentifier":"f29e1fdd-29e0-3a64-3879-da0a2b690446","name":"","source":{"id":"0ba127dc-0199-1000-33b8-4e92937cfc5a","type":"PROCESSOR","groupId":"0ba127d5-0199-1000-09cd-530853f3825e","name":"AttributesToJSON","comments":"","instanceIdentifier":"11d3d2ce-cb52-3a77-00b1-33168a86395f"},"destination":{"id":"0ba127db-0199-1000-e959-fa40dd619195","type":"PROCESSOR","groupId":"0ba127d5-0199-1000-09cd-530853f3825e","name":"UpdateAttribute","comments":"","instanceIdentifier":"fa0ae5bb-45d5-3077-d725-5ea72f0ae261"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0ba127d5-0199-1000-09cd-530853f3825e"},{"identifier":"0ba127df-0199-1000-23c7-c884fa77ff7c","instanceIdentifier":"54090d59-3718-3955-7f37-442a0bf2e2e0","name":"","source":{"id":"0ba127d6-0199-1000-ca56-8ec16cc3ab0e","type":"PROCESSOR","groupId":"0ba127d5-0199-1000-09cd-530853f3825e","name":"ConvertAvroToParquet","comments":"","instanceIdentifier":"e1a95b3f-9fc7-3e28-0b5e-dd0c5b48b70f"},"destination":{"id":"0ba127d9-0199-1000-60f9-afaf0cd0924c","type":"PROCESSOR","groupId":"0ba127d5-0199-1000-09cd-530853f3825e","name":"UpdateAttribute","comments":"","instanceIdentifier":"c8f413ed-573a-3cc3-6fbc-7acbf0035b2b"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0ba127d5-0199-1000-09cd-530853f3825e"},{"identifier":"0ba127e3-0199-1000-2cef-9c111e005c82","instanceIdentifier":"6bbc9223-cb8c-360f-dc33-68516bc6bfa5","name":"","source":{"id":"0ba127d8-0199-1000-29b3-9f6afc4347a2","type":"PROCESSOR","groupId":"0ba127d5-0199-1000-09cd-530853f3825e","name":"PutHDFS","comments":"","instanceIdentifier":"dae0a9cf-c259-3ba7-b326-03b3bb62f362"},"destination":{"id":"0ba127de-0199-1000-9111-004672b8264c","type":"OUTPUT_PORT","groupId":"0ba127d5-0199-1000-09cd-530853f3825e","name":"TerritoryOutput","instanceIdentifier":"204bca92-7a14-3e78-bb85-9c1917b26b80"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0ba127d5-0199-1000-09cd-530853f3825e"},{"identifier":"0ba127e4-0199-1000-8aff-4324c8630a55","instanceIdentifier":"07d49ab8-756d-329a-2719-bc940dc2647a","name":"","source":{"id":"0ba127da-0199-1000-844a-609f375c2af8","type":"PROCESSOR","groupId":"0ba127d5-0199-1000-09cd-530853f3825e","name":"PutHDFS","comments":"","instanceIdentifier":"78a3c393-36e8-3bae-0236-cefcbe03cd59"},"destination":{"id":"0ba127dc-0199-1000-33b8-4e92937cfc5a","type":"PROCESSOR","groupId":"0ba127d5-0199-1000-09cd-530853f3825e","name":"AttributesToJSON","comments":"","instanceIdentifier":"11d3d2ce-cb52-3a77-00b1-33168a86395f"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0ba127d5-0199-1000-09cd-530853f3825e"},{"identifier":"0ba127e2-0199-1000-b6f2-031a189362ca","instanceIdentifier":"4f60bcf9-5f80-3775-031e-7f37c3d6bc38","name":"","source":{"id":"0ba127dd-0199-1000-b99d-da3336713463","type":"INPUT_PORT","groupId":"0ba127d5-0199-1000-09cd-530853f3825e","name":"TerritoryInput","instanceIdentifier":"716c0026-545e-3442-fe5a-25654b751416"},"destination":{"id":"0ba127d7-0199-1000-ebb8-4871b0753180","type":"PROCESSOR","groupId":"0ba127d5-0199-1000-09cd-530853f3825e","name":"ExecuteSQL","comments":"","instanceIdentifier":"3b145683-a1a2-3b54-1ef5-42da7bf0b218"},"labelIndex":0,"zIndex":7,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0ba127d5-0199-1000-09cd-530853f3825e"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"e610496f-bb3e-3b10-917a-b8f2a030337f","instanceIdentifier":"0b1dc302-0199-1000-7bfc-97504865d77c","name":"AdventureWorks2022","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.4.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.microsoft.sqlserver.jdbc.SQLServerDriver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:sqlserver://172.21.96.1:1433;databaseName=AdventureWorks2022;trustservercertificate=true","dbcp-time-between-eviction-runs":"-1","Database User":"sa","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/usr/local/nifi/sqljdbc/enu/jars/mssql-jdbc-12.10.1.jre11.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"16df633d-ff98-38f1-725f-c2764095550d"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}